# compiled stuff

*.o
*.out
lsyncd


# cmake

AdditionalInfo.txt
config.h
Makefile
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt


# generated C code

defaults.c
runner.c
