#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

override_dh_auto_configure:
	aclocal && automake --add-missing && autoreconf
	dh_auto_configure $@

override_dh_auto_test:
# there is no real test suite only a test target in upstream's Makefile

override_dh_clean:
	rm -f aclocal.m4 Makefile.in configure test-driver
	rm -rf autom4te.cache
	dh_clean

# use 'make -f debian/rules source' to build source tarball
source: clean override_dh_clean
	@name=`basename \`pwd\``;					\
	tarball="`sed -ne 's,^\([^ ]*\)[^(]*(\(.*\)-[0-9]*).*,\1_\2,g' -e '1p' < debian/changelog`.orig.tar.gz";	\
	if test -f "../$$tarball"; then					\
		echo "*** ../$$tarball already exists, move it away";	\
		false;							\
	else								\
		cd ..;							\
		echo "*** building '../$$tarball'";			\
		tar cfz "$$tarball" --exclude=".git" "$$name" &&	\
		echo "*** you can now play with debuild";		\
	fi

%:
	dh --with autotools_dev $@
